canvas {
    background: white;
    height: 500px;
    width: 500px;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    background: white;
    grid-area: main;
    bottom: 0;
}
.item4 {
    grid-area: upgrade;
    height:300px;
    overflow-y: scroll
}

.block {
    bottom: 0;
    font-size: 3em;
}


.grid-container {
    display: grid;
    grid-template-areas: 'header header header header header header' 'main main main main main menu' 'main main main main main upgrade' 'main main main main main upgrade';
    grid-gap: 10px;
    background-color: slategrey;
    padding: 10px;
    overflow-y: auto
}

    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }
